<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form action="/bookmarks/<%= bookmark.id %>/comments" method="post">
        <input id="comment-textbox" type="text" name="text">
        <input id="comment-submit" type="submit" value="save">
      </form>
      <form action="/signin/new?_method=DELETE" method="post">
        <input id="sign-out-button" type="submit" value="Sign Out">
      </form>
  </body>
</html>
