<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title></title>
</head>
<body>
    <a id="sign-up-link" href="/signup/new" >Sign Up</a>
    <a id="sign-in-link" href="/signin/new" >Sign In</a>
</body>
</html>
