<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, maximum-scale=1">
 <title></title>
</head>
<body>

    <% if (userId) { %>

        <form action="/signin/new?_method=DELETE" method="post">
            <input id="sign-out-button" type="submit" value="Sign Out">
        </form>
    
    <% } %>

    <%- body %>
</body>
</html>