<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form action="/bookmarks/<%= bookmark.id %>?_method=PUT" method="post">
        <input id="bookmark-edit-textbox" type="text" name="url">
        <input id="bookmark-edit-submit" type="submit" value="update">
      </form>
      <form action="/signin/new?_method=DELETE" method="post">
        <input id="sign-out-button" type="submit" value="Sign Out">
      </form>
  </body>
</html>
